<html>
  <head>
    <title>gRPC UI</title>

    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="jquery-ui-1.12.1.min.css" />
    <script src="jquery-ui-1.12.1.min.js"></script>

    <link rel="stylesheet" href="grpc-web-form.css" />
    <script src="grpc-web-form.js"></script>

    <link rel="stylesheet" href="pretty-print-json.dark-mode.css" />
    <script src="pretty-print-json.min.js"></script>

    <link rel="stylesheet" href="index.css" />

    <script>
      // ZOMG this is awful. This beast comes from https://developer.mozilla.org/en-US/docs/Web/API/document/cookie
      var cookieValue = document.cookie.replace(
        /(?:(?:^|.*;\s*)_grpcui_csrf_token\s*\=\s*([^;]*).*$)|^.*$/,
        "$1"
      );
      // add CSRF token to all non-GET requests
      $(document).ajaxSend(function (event, request, settings) {
        if (settings.method !== "GET") {
          request.setRequestHeader("x-grpcui-csrf-token", cookieValue);
        }
      });
    </script>
    {{ range .AddlResources }} {{ . }} {{ end }}
  </head>
  <body>
    <div class="full-width-heading">
      <div class="heading">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div style="display: flex; align-items: center">
            <img class="grpc-logo" src="grpc-logo.png" alt="GRPC" />
            <h3>Web UI</h3>
          </div>
          {{ if not (eq .Target "") }}
          <h4>Connected to <span class="target">{{ .Target }}</span></h4>
          {{ end }}
        </div>
      </div>
    </div>
    {{.WebFormContents}}
  </body>
</html>
