@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-size: 16px;
}

button,
input,
select,
textarea {
  line-height: inherit;
  font: inherit;
  color: inherit;
}

input,
select,
textarea {
  border-radius: 5px;
  padding: 4px 8px;
}

img {
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.full-width-heading {
  width: 100%;
  background-color: #186064;
}

.heading {
  max-width: 2560px;
  margin: 0;
  padding: 7px 30px;
  color: white;
  background: linear-gradient(to bottom right, #0c4348, #317178, #5f8c8c);
}

.heading h3 {
  margin: 0;
}

.heading h4 {
  margin: 0;
}

.target {
  font-style: italic;
  color: #9ff;
  padding-left: 4px;
}

img.grpc-logo {
  width: 60px;
  margin-right: 8px;
}

#grpc-form {
  margin: 0;
  padding: 24px;
}
